body {
    background-color: #8dc63f;
    margin: 0;
    font-family: "Arial", sans-serif;
    cursor: url(../img/cursor.cur), auto;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
}

.header {
    display: flex;

    padding: 20px;

}

.main1 {
    flex-grow: 1;
}

.as1 {
    font-size: 22px;
    color: #39930d;
    margin: 0;
}

.strong {
    font-size: 44px;
    color: #39930d;
    font-weight: bold;
    margin: 0;
}

.a2 {
    font-size: 14px;
    font-style: italic;
    color: #5a5a5a;
    margin-top: 5px;
}

.img1 {
    width: 100px;
    height: 102px;
    margin: 0 20px;
    margin-right: 360px;
}

.main2 {
    margin: 0px;
    padding-top: 0px;
    text-align: right;
}

.main2 p {
    margin: 0;
}


.a3 {
    font-size: 22px;
    color: #39930d;
    text-decoration: none;
}

.worktime {
    font-size: 14px;
    color: #5a5a5a;
}

.img2 {
    width: 928px;
    margin: 0 16px;
    height: auto;
    display: block;
}

.content {
    display: flex;
    padding: 20px 16px;
}

section {
    width: 600px;
}

h1 {
    color: #3a930d;
    font-size: 24px;
    margin-bottom: 10px;
}

.a4 {
    font-size: 14px;
    line-height: 21px;
    color: #343434;
}

.aside {
    width: 290px;
    margin-left: 30px;
    font-size: 14px;
    margin-top: 15px;
    text-transform: uppercase;
    color: #39930d;
}

.category_en {
    background-color: #39930d;
    color: #ffffff;
    width: 301px;
    
    height: 44px;
    font-size: 14px;
    margin-bottom: 0;
}

.category_en {
padding: 15px ;
}

.aside ul {
    list-style: none;
}

.aside li {
    margin-top: 15px;
}

.aside a {
    color: #39930d;
    text-decoration: underline;
}

footer {
    background-color: #39930d;
    display: flex;
    align-items: center;
}

.p-footer {
    color: #ffffff;
    font-size: 14px;
    margin-left: 15px;
}

.category {
    margin: 0;

}